data_*/
model/
*.png
*.wav
__pycache__/
model_*/
model*.zip
*.tflite
**/.DS_Store
.vscode
build/
dist/listen*
*.spec

# Added by cargo

/target


# Added by cargo
#
# already existing elements were commented out

#/target
